<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Inventario sispimx
    <nav>
        <ul>
            <li>
                Inventario
            </li>
            <li>
                entradas
            </li>
            <li>
                Salidas
            </li>
            <Li>
                Reportes
            </Li>
        </ul>
    </nav>
    <button>
        Añadir objeto
    </button>
    <button>
        Nueva Categoría
    </button>
    <button>
        Cerrar sesion
    </button>
    <table>
        <thead>
            <tr id="cabecera">
                <th>
                    Código
                </th>
                <th>
                    Categoría
                </th>
                <th>
                    Categoría
                </th>
                <th>
                    Stock total
                </th>
                <th>
                    Detalles
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    inserte texto
                </td>
            </tr>
        </tbody>
    </table>
<!-- Acá se va a instalar un código que mencione todas las categoría como mueble, equipo de computo, etc  -->

</body>
</html>